@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .main {
    @apply flex flex-col w-full items-center justify-center gap-8 container mx-auto;
  }
  .button {
    @apply bg-[#D2E892] p-4 text-[#364C6F] text-xl max-w-[194px] rounded-lg;
  }
  .imput {
    @apply placeholder:bg-[#364C6F] text-center placeholder:text-[#364C6F] p-4 placeholder:text-2xl;
  }
  .input-container {
    @apply flex flex-row gap-4 items-center border-[grey] shadow-md py-4 px-2;
  }
  .text-h1 {
    @apply text-4xl text-[#364C6F];
  }
  .text-h2 {
    @apply text-3xl text-[#364C6F];
  }
  .text-h3 {
    @apply text-2xl text-[#364C6F];
  }
  .text-p {
    @apply text-xl text-[#364C6F];
  }
  .text-bold {
    @apply text-6xl text-[#364C6F];
  }
}
